extends base

block append head
    link(rel="stylesheet", href="/stylesheets/landingPage.css")
    title #{title}

block content
    .left--container
        h1 Name Placeholder
        .img--container
            img(src="/uploads/heart.png", alt="retro style heart")
    .right--container
        .right--container__content
            h1 Productive Mind
            p With only the features you need, Organic Mind is customized for individuals seeking a stress-free way to stay focused on their goals, projects, and tasks. 
            a(href="/signup" id="get--started")  Get Started
            .hr--container 
                hr
                span or
                hr
            span Already have an account? 
                a(href='/signin' id='signin--link') Sign in