extends overview

mixin task(name)
    .task--container
        input(type="checkbox")
        p #{name}
        img(src="/uploads/next.png", alt="Next" class='nextImage')

block append head 
    link(rel="stylesheet", href="/stylesheets/list.css")
    title #{title}

block list
    .list--container
        - let listTitle = currentList.title ?? 'Temp Title'
        h1 #{listTitle}
            - let taskCount = currentList.tasks.length ?? 0
            span.count #{taskCount}
        .tasks--container
            .addNewTask--container
                span +
                p Add New Task
            each task in currentList.tasks
                +task(task.title)

            
