extends list

block append head 
    link(rel="stylesheet", href="/stylesheets/task.css")
    title #{title}

block task
    .taskMenu--container
        h2 Task:
        span#closeTask x
        input(type="text" placeholder='Renew driver\'s license ' id='taskTitle')
        textarea(name="description", cols="30", rows="10" class='taskDescription' placeholder='Description')
        h2 Subtasks: 
        button#deleteTask Delete Task 
        button#saveChanges Save Changes