extends list

block append head 
    link(rel="stylesheet", href="/stylesheets/task.css")
    title #{title}

block task
    .taskMenu--container
        h2 Task:
        span#closeTask x
        input(type="text" placeholder=`${currentTask.title}` id='taskTitle')
        - const textareaPlaceholder = currentTask.content || 'Description'
        textarea(name="description", cols="30", rows="10" class='taskDescription' placeholder=textareaPlaceholder)
        h2 Subtasks: 
        button#deleteTask(data-taskid=`${currentTask._id}`) Delete Task 
        button#saveChanges Save Changes