@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700&display=swap');

.list--container {
    /* min-width: 65%; */
    width: 99%;
    color: rgb(200, 200, 200);
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.list--container h1 {
    font-size: 3rem;
    font-weight: 600;
}

.count {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2px 10px;
    font-size: 2.5rem;
    border-radius: 5px;
    margin-left: 0.7rem;
    font-weight: 500;
}

.tasks--container {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.addNewTask--container {
    gap: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    align-items: center;
}

.addNewTask--container span {
    font-size: 1.8rem;
    font-weight: 500;
}

.addNewTask--container p {
    font-weight: 300;
}

.addNewTask--container:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.addNewTask--container:active {
    transform: translateY(2px);
}

.task--container {
    gap: 0.3rem;
    display: flex;
    padding: 0.5rem;
    position: relative;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.task--container p {
    font-size: 0.9rem;
    /* text-decoration: line-through; */
}

.task--container img {
    right: 1.5rem;
    width: 14px;
    position: absolute;
}

.task--container img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.task--container img:active {
    transform: translateY(2px);
}

.nextImage {
    cursor: pointer;
}