.left--container {
    gap: 10rem;
    color: white;
    width: 47%;
    height: 93%;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 1rem;
    flex-direction: column;
    background-color: black;
}

.left--container h1 {
    margin: 1rem 0rem 0rem 1rem;
}

.img--container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img--container img {
    width: 350px;
    height: auto;
}

.right--container {
    color: rgb(161, 161, 161);
    width: 47%;
    height: 93%;
    border: 1px solid rgb(255, 255, 255, 0.1);
    display: flex;
    font-weight: 500;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
}

.right--container__content {
    gap: 1rem;
    width: 69%;
    display: flex;
    flex-direction: column;
}

.signin--form {
    gap: 0.7rem;
    display: flex;
    flex-direction: column;
}

.signin--form input {
    color: white;
    border: 1px solid rgb(255, 255, 255, 0.1);
    padding: 0.6rem 0.5rem;
    font-weight: 700;
    border-radius: 7px;
    background-color: #1b1d1e;
}

.signin--form input::placeholder {
    font-size: 0.8rem;
}

#signin--btn {
    color: lightgray;
    height: 40px;
    border: none;
    font-weight: 700;
    border-radius: 0.5rem;
    background-color: #7e6300;
}

#signin--btn:hover {
    cursor: pointer;
    background-color: #655002;
}

#signup--link {
    color: rgb(161, 161, 161);
    margin-left: 0.3rem;
    text-decoration: none;
}